
  <div class="modal-carrito" id="modal-carrito">
    <div class="modal-container">
      <h3 class="modal-title">Carrito</h3>
      <ion-icon
        class="close-carrito"
        id="close-carrito"
        name="close-outline"
      ></ion-icon>
      <!--Contenedor del Carrito-->
      <div id="conten-carrito"></div>
      <div class="total-carrito">
        <p class="total-text">Total Carrito:</p>
        <p id="total_carrito">$</p>
      </div>
      <div class="buttons-carrito">
        <button class="vaciar" id="vaciar-carrito">
          <ion-icon
            class="button-icon"
            name="close-circle-outline"
          ></ion-icon>
          <p class="button-text">Vaciar</p>
        </button>
        <button class="comprar" id="comprar">
          <ion-icon class="button-icon" name="card-outline"></ion-icon>
          <p class="button-text">Comprar</p>
        </button>
      </div>
    </div>
  </div>
</header>