<div class="navigation">
  <div class="menuToggle">
    <div class="userIcon">
  <ion-icon name="happy-outline"></ion-icon>    
  </div>
    <span class="emailUser">{{nameUser}}</span>
  </div>
  <div class="menu">
    <ul>
  
      <li style="--i: 0.3s">
        <a href="http://localhost:8080/api/session/logout"><ion-icon name="log-out-outline"></ion-icon></a>
        <span>Cerrar sesion</span>
    </li>
    </ul>
  </div>
</div>