<div class="navigation">
  <div class="menuToggle">

    <span class="emailUser">{{nameUser}}</span>
  </div>
  <div class="menu">
    <ul>
      <li style="--i: 0.1s">
        <a href="#"><ion-icon name="accessibility-outline"></ion-icon></a>
        <span>Rango: {{rol}}</span>
      </li>
      <li style="--i: 0.3s">
        <a href="http://localhost:8000/api/session/logout"><ion-icon name="backspace-outline"></ion-icon></a>
        <span>Cerrar sesion</span>
    </li>
    </ul>
  </div>
</div>